
@model Kategori

<h2>Kategori Ekle</h2>
<hr>
<form asp-controller="Kategori" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="KategoriAdi" class="form-label">Kategori Adı</label>
        <input asp-for="KategoriAdi" class="form-control">
    </div>

    <button type="submit" class="btn btn-secondary">Kaydet</button>

</form>