@model Kullanıcı

<h2>Kullanıcı Ekle</h2>
<hr>
<form asp-controller="Kullanıcı" asp-action="Create" method="post" class="mb-5">

    <div class="mb-3">
        <label asp-for="UserName" class="form-label">Kullanıcı Adı</label>
        <input asp-for="UserName" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="UserLastName" class="form-label">Kullanıcı Soyadı</label>
        <input asp-for="UserLastName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Kullanıcı Maili</label>
        <input asp-for="Email" type="email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Tel" class="form-label">Telefon Numarası</label>
        <input asp-for="Tel" type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="KullanıcıId" class="form-label">T.C. Kimlik Numarası</label>
        <input asp-for="KullanıcıId" type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Şifre</label>
        <input asp-for="Password" type="password" class="form-control">
    </div>
   

    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>